<!doctype html>
<html>
    <head>
        <title>
            <%=HospitalName%>
            - About</title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div class="row">
            <div class="column left">
                <nav>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="eyeconditions">Keratoconus</a></li>
                        <li><a href="patients">List all patients</a></li>
                        <li><a href="addpatient">Add a New patient</a></li>
                        <!-- <li><a href="search">Search for a patient</a></li> -->
                        <li><a href="updatepatient">Update a patient record</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column right">
                
                <div class="textAbout"></div>
                <h1>About</h1>
                <p>Keratoconus is one of the world’s leading corneal diseases, which may result in irregular astigmatism,
                corneal edema, and eventually severe vision loss..</p>
                <p>
                    This system stores the patient record and the medical data on relational databases,
                    where the medical images are associated with the related patient,
                    considering the sensitivity of the patient data, which in this project will be anonymised and replaced with randomly generated data.
                    The data from the database and the detection result will be shown,
                    in addition to the patient information and record, with advanced search and sorting options.
                </p>
                <p>This project is for eye specialists because the number of patients in ophthalmology is constantly rising, and a vast amount of medical data must be analysed. 
                The accumulated medical images must be interpreted as efficiently as possible to ensure that urgent cases are dealt with as a high priority</p>
                <p>The project focuses on applying computer vision and machine learning algorithms to detect keratoconus in the human eye.</p>
                 </div>
            </div>
        </div>
        <footer id="footer">
            <p>Keratoconus Detection via Computer Vision- Final Year Project- 2022-2023 Goldsmiths University, Sandor Kanda- All rights reserved.</p>
        </footer>
    </body>
</html>
