<!doctype html>
<html>
    <head>
        <title><%=HospitalName%>
            - Welcome</title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <div class="row">
            <div class="column left">
                <nav>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="eyeconditions">Keratoconus</a></li>
                        <li><a href="patients">List all patients</a></li>
                        <li><a href="addpatient">Add a New patient</a></li>
                        <!-- <li><a href="search">Search for a patient</a></li> -->
                        <li><a href="updatepatient">Update a patient record</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column right">
                <h1>Home Page</h1>
                <img src="https://doc.gold.ac.uk/~skand001/blueye.png" alt="image of an artifial human eye">
            </div>
        </div>
        <footer id="footer">
            <p>Keratoconus Detection via Computer Vision- Final Year Project- 2022-2023 Goldsmiths University, Sandor Kanda- All rights reserved.</p>
        </footer>
    </body>
</html>
