<!doctype html>
<html>
  <head>
    <title>About <%=hospitalName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=hospitalName%></h1>
    <div class="footer">
      <p>Keratoconus Detection via Computer Vision- Final Year Project- 2022-2023 Goldsmiths University, Sandor Kanda- All rights reserved.</p>
  </div>   
  </body>
</html>